/* Global Styles */
:root {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Typography */
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Buttons */
button {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: none;
}

#banner {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#banner img {
  max-height: 300px;
  max-width: 100%;
}


/* Responsive Styles */
@media (min-width: 360px) {
  .container {
    padding: 40px;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  button {
    font-size: 20px;
    padding: 16px 32px;
  }


  #rumor-text {
    overflow-wrap: anywhere;
    white-space: pre-wrap;
  }
}

/* ... Existing styles ... */

/* Navigation Bar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none; /* Hide the menu icon by default on desktop */
}

.menu {
  display: flex;
  gap: 20px;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    background-color: #222;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none; /* Hide the menu items by default on mobile */
  }

  .menu.active {
    display: flex; /* Show the menu items when the menu is active (opened) */
  }

  .menu li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .menu-icon {
    display: block; /* Show the menu icon on mobile */
  }
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

footer a {
  color: #fff;
}

/* Blog Styles */
.blog-list {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.blog-list a {
  text-decoration: none;
  color: white;
}

.blog-post {
  background-color: #383838;
  border-radius: 8px;
  padding: 20px;
}

.blog-post img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.blog-post h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-date {
  color: #666;
  margin-bottom: 5px;
}

.blog-post-page {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.blog-post-page img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.blog-post-page .article-text a {
  color: white;
}

.blog-post-page h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.blog-post-page .post-date {
  color: #666;
  margin-bottom: 5px;
}

.blog-post-page .article-text {
  text-align: left;
}

/* Suggested Post Styles */
.suggested-post {
  max-width: 800px;
  margin: 20px auto;
  background-color: #383838;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.suggested-post h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.suggested-post img {
  max-width: 450px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.suggested-post h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  padding: 5px;
}

ul li {
  margin-top: 5px;
  font-size: 16px;
}