/* CSS for larger font and button size on mobile screens */
@media (max-width: 768px) {
  h1 {
    font-size: 40px; /* Adjust the desired font size for headings */
  }

  p {
    font-size: 30px; /* Adjust the desired font size for paragraphs */
  }

  button {
    font-size: 30px; /* Adjust the desired font size for buttons */
    padding: 10px 20px; /* Adjust the desired button padding */
  }
}

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
h1 {
    margin-top: 50px;
  }
  
#rumor-container {
    margin-top: 30px;
  }
  
#rumor-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
#generate-button {
    background-color: #f26c4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
#generate-button:hover {
    background-color: #f7a892;
  }
  
